[defaults]
inventory = inventories/production/hosts.yml
stdout_callback = default
bin_ansible_callbacks = True
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
forks = 10
timeout = 30
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .cache/facts
fact_caching_timeout = 86400
roles_path = roles
collections_path = collections
local_tmp = .cache/tmp

[ssh_connection]
pipelining = True
